/* Formatações gerais */

body, html {
    margin: 0;
    font:16px "Trebuchet MS", Helvetica, sans-serif; 
    color: #777;
    height: 100%;
}
/* Formatações do cabeçalho */


/* Formatações do corpo */

.content{
    text-align: justify;
    padding: 50px 80px;
    background: white;
}
h3 {
    text-transform: uppercase;
    text-align: center;
}
.box1, .box2 {
    height: 100%;
    border: 1px solid red;
}
.box1 {
    background-image: url(../images/produtos/ColagemNakedCake.gvdesign);
    background-size: cover;
}

.box2 {
    background-image: url(../images/produtos/20210309_123108_(1).jpg);
}
/* Formatações do rodapé */
